.container{
    max-width: 960px;
    background: red;
    height: auto;
    display: flex;
}
.item1,.item2{
    height: 200px;
}

.item1{
    background: rebeccapurple;
    flex: 1;
}






.item2{
    background: salmon;
    flex: 2;
}
